.bothItems{
  display: flex;
  align-items: center;

.Box{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: rgb(233, 248, 247);
    padding: 1rem;
    border-radius: 2rem;
    margin: 0.4rem 0rem;
    width: 10rem;
   select{
       border: none;
       background-color: transparent;
       outline-width: 0rem;   
       margin: auto;
   } 
   
}
.priceBox{
    
    input{
        border: none;
        background-color: rgb(233, 248, 247);
        outline-width: 0rem;
        border-radius: 2rem;
        width: 3rem;
        margin: 0rem 1rem;
        padding: 1rem 1rem;
    }
}

}